@font-face {
    font-family: 'HandSlabRegular';
    src: url('../fonts/handslab-regular-webfont.eot');
    src: url('../fonts/handslab-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/handslab-regular-webfont.woff') format('woff'),
         url('../fonts/handslab-regular-webfont.ttf') format('truetype'),
         url('../fonts/handslab-regular-webfont.svg#HandSlabRegular') format('svg');
}

@font-face {
    font-family: 'nimblepenregular';
    src: url('../fonts/nimblepen-webfont.eot');
    src: url('../fonts/nimblepen-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nimblepen-webfont.woff') format('woff'),
         url('../fonts/nimblepen-webfont.ttf') format('truetype'),
         url('../fonts/nimblepen-webfont.svg#nimblepenregular') format('svg');
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
    border: 0;
    font-size: 100%;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td {
    font-weight: normal;
    text-align: left;
    vertical-align: middle;
}

q, blockquote {
    quotes: none;
}

q:before, q:after,
blockquote:before, blockquote:after {
    content: "";
    content: none;
}

a img {
    border: none
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu,
nav, section, summary {
    display: block;
}

img {
    width: 100%;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

/* >> The Magnificent CLEARFIX <<
   Lifted from html5boilerplate.com
   License is Public domain */
.c:after { content: ""; display: block; height: 0; clear: both; visibility: hidden; }
.c { display: inline-block; }
* html .c { height: 1%; } /* Hides from IE-mac \*/
.c { display: block; }

* {
    box-sizing: border-box;
    word-wrap: break-word;
}

::selection {
    background-color: turquoise;
    color: #fff;
}

html, body {
    height: 100%;
}

html {
    background: #fff;
}

body {
    font: 14px "Open Sans", sans-serif;
}

a {
    color: #fff;
    text-decoration: none;
}

h2, nav a {
    font-family: "HandSlabRegular", Handslab-Regular;
}

h2 {
    margin-bottom: .5em;
}

.mono {
    font: 11px/13px Menlo, "Ubuntu Mono", "Andale Mono", monospace;
}

header {
    background: #333;
    height: 70px;
    padding: 5px 10px;
    position: fixed;
    text-align: right;
    top: 0;
    width: 100%;
    z-index: 1;
}

.query {
    color: #ccc;
    float: left;
    font-size: 12px;
    line-height: 60px;
}

.logo a {
    display: block;
    font: 600 36px/60px nimblepenregular, nimblepen, sans-serif;
}

nav {
    height: -webkit-calc(100% - 70px);
    height: calc(100% - 70px);
    left: 0;
    position: fixed;
    top: 70px;
    z-index: 2;
}

nav ul {
    height: 100%;
}

nav li {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: box;
}

nav a {
    display: -webkit-box;
    -webkit-box-align: center;
    display: -moz-box;
    -moz-box-align: center;
    display: -ms-flexbox;
    -ms-flex-align: center;
    display: box;
    box-align: center;
    font-weight: 600;
    height: 100%;
    width: 150px;
}

nav span {
    display: block;
    text-align: center;
    width: 100%;
}

.bugs-todo {
    background: hsla(0, 50%, 50%, 1);
}

.bugs-doing {
    background: hsla(30, 50%, 50%, 1);
}

.bugs-done {
    background: hsla(45, 50%, 50%, 1);
}

.bugs-verified {
    background: hsla(90, 50%, 50%, 1);
}

nav a:hover {
    color: #fff;
}

nav .bugs-todo a:hover {
    background: hsla(0, 60%, 40%, 1);
}

nav .bugs-done a:hover {
    background: hsla(45, 60%, 40%, 1);
}

nav .bugs-verified a:hover {
    background: hsla(90, 60%, 40%, 1);
}

.bugs-phase {
    min-height: 100%;
    padding: 70px 0 0 150px;
    width: 100%;
}

nav .cnt {
    color: #ddd;
}

.cnt {
    color: #444;
}

.cnt::before {
    content: "(";
}

.cnt::after {
    content: ")";
}

.hidden {
    display: none;
}

.bug-priority {
    font-size: 32px;
    line-height: 12px;
    font-weight: 600;
}

.bug--- {
    background: rgba(255,255,255,.6);
}

.bug-p1 {
    background: rgba(255,255,255,.5);
}

.bug-p1 .bug-priority {
    font-size: 32px;
}

.bug-p2 {
    background: rgba(255,255,255,.4);
}

.bug-p2 .bug-priority {
    font-size: 28px;
}

.bug-p3 {
    background: rgba(255,255,255,.3);
}

.bug-p3 .bug-priority {
    font-size: 24px;
}

.bug-p4 {
    background: rgba(255,255,255,.2);
}

.bug-p4 .bug-priority {
    font-size: 20px;
}

.bug-p5 {
    background: rgba(255,255,255,.1);
}

.bug-p5 .bug-priority {
    font-size: 16px;
}

ul {
    list-style: none;
}

.bugs-status {
    padding: 2em;
}

.bugs-status a {
    color: #222;
    display: block;
    opacity: .8;
    padding: 10px;
    vertical-align: top;
}

.bugs-status span {
    display: inline-block;
    margin: 0 10px;
    vertical-align: middle;
}

.bugs-status a:hover {
    color: #000;
    opacity: 1;
}

.bug-priority {
    min-width: 40px;
}

.bugs-status .bug-id {
    background: #fff;
    border: 1px solid #666;
    border-radius: 3px;
    color: #666;
    margin: 0;
    padding: 6px 4px 3px;
}

.bug-summary {
    color: #111;
    overflow: hidden;
    max-width: 800px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.bug-assignee {
    float: right;
}

.bug-milestone {
    float: right;
}
